.gameOver {
  color: #ff6f6f;
  font-size: 150px;
  font-weight: bold;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 20px;
}

.playAgain {
  position: absolute;
  bottom: 0;
  left: 15px;
}
