.heart4 {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 250px;
  height: 50px;
  right: 40px;
  bottom: 50px;

  border: 4px solid #ff6f6f00;
  border-radius: 15px;

  background-repeat: no-repeat;

  background-image: url("../../../../images/heart.png");
  background-size: 17%;
  background-position-x: 61px;
}

.heart5 {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 250px;
  height: 50px;
  right: 40px;
  bottom: 50px;

  border: 4px solid #ff6f6f00;
  border-radius: 15px;

  background-repeat: no-repeat;

  background-image: url("../../../../images/heart.png");
  background-size: 17%;
  background-position-x: 18px;
}

.heartContainerMP {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 321px;
  height: 50px;
  right: 40px;
  bottom: 50px;

  background: rgba(255, 255, 255, 0.7);
  border: 4px solid #ff6f6f;
  border-radius: 15px;

  font-size: 24px;
  padding: 6px 15px;
}

.timerMP {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 200px;
  height: 200px;
  left: 10px;
  top: -70px;

  background: rgba(255, 255, 255, 0.7);
  border: 10px solid #ff6f6f;
  border-radius: 100px;

  padding: 18px 10px;

  font-size: 120px;
  text-align: center;
  color: #ff6f6f;
}

.name {
  width: 200px;
  height: 24px;

  border-radius: 15px;

  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #ff6f6f;
  transition: box-shadow 0.1s;
  background: rgba(255, 255, 255, 0.7);
  padding: 1px 12px;
}

.word {
  height: 20px;
  border-radius: 15px;

  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ff6f6f;
  transition: box-shadow 0.1s;
  background: rgba(255, 255, 255, 0.7);
  padding: 1px 12px;
  margin: 5px;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 20px;
  left: 50%;
  width: 250px;
  transform: translateX(-125px);
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 20px;
  left: 35%;
  width: 250px;
  transform: translateX(-125px);
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 20px;
  left: 65%;
  width: 250px;
  transform: translateX(-125px);
}

.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 20px;
  left: 20%;
  width: 250px;
  transform: translateX(-125px);
}

.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 20px;
  left: 80%;
  width: 250px;
  transform: translateX(-125px);
}
