.heart4 {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 250px;
  height: 50px;
  right: 40px;
  bottom: 50px;

  border: 4px solid #ff6f6f00;
  border-radius: 15px;

  background-repeat: no-repeat;

  background-image: url("../../../../images/heart.png");
  background-size: 17%;
  background-position-x: 61px;
}

.heart5 {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 250px;
  height: 50px;
  right: 40px;
  bottom: 50px;

  border: 4px solid #ff6f6f00;
  border-radius: 15px;

  background-repeat: no-repeat;

  background-image: url("../../../../images/heart.png");
  background-size: 17%;
  background-position-x: 18px;
}

.heartContainerMP {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 321px;
  height: 50px;
  right: 40px;
  bottom: 50px;

  background: rgba(255, 255, 255, 0.7);
  border: 4px solid #ff6f6f;
  border-radius: 15px;

  font-size: 24px;
  padding: 6px 15px;
}
