.backbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100 px;
  height: 80%;
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  display: flex;
}

.userInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.user-scores {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  border-left: 1px solid rgb(0, 0, 0);
}

.profile-avatar {
  max-width: 100%;
  width: 100%;
  height: auto;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* make it a circle */
  border-radius: 70%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: 70%;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/defaulpfp.png");
}

.pinkbox {
  position: fixed;
  top: 55%;
  left: 60%;
  transform: translate(-37%, -57%);
  padding: 100 px;
  height: 80%;
  width: 60%;
  background: #ff6f6f;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.stat-display {
  margin: 8px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.scoreslist-box {
  margin: 8px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.scoreslist-text {
  flex-basis: 50%;
  flex-direction: column;
  margin: 8px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 60px;
  height: 30 px;
  overflow: auto;
  display: flex;
}

.scoreslist-label {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.scoreslist-list {
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  align-self: start;
}
.label {
  flex-grow: 9;
  text-align: left;
  margin: auto;
  margin-left: 20px;
  font-size: 20px;
}

.scores-num {
  flex-grow: 1;
  text-align: right;
  margin: auto;
  margin-right: 20px;
}

h1 {
  color: white;
  font: 40px;
  text-align: center;
}

h3 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
}

.back-button {
  position: absolute;
  bottom: 0;
  right: 15px;
}
