.backbox {
  position: absolute;
  border: 3px solid pink;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100 px;
  height: 80%;
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  display: flex;
}

.userInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 30 px;
  border-right: 1px solid rgb(0, 0, 0);
}

.userScores {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.profile-avatar {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* make it a circle */
  border-radius: 50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/defaulpfp.png");
}

h1 {
  color: white;
  font: 40px;
}
