.input {
  position: fixed;

  width: 316px;
  height: 40px;
  left: 520px;
  bottom: 50px;

  border: 4px solid #ff6f6f;
  border-radius: 15px;

  font-size: 24px;
  transition: box-shadow 0.1s;
  background: rgba(255, 255, 255, 0.7);
  padding: 1px 12px;
}

.input:focus-within {
  border-color: var(#3f0c0c);
  box-shadow: 0 0 0 var(--xs) rgba(151, 51, 51, 0.5);
}

.submit {
  position: fixed;

  width: 100px;
  height: 49px;
  left: 875px;
  bottom: 50px;

  border: 4px solid #ff6f6f;
  border-radius: 15px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.7);
}

.submit:hover {
  border-color: var(#3f0c0c);
  box-shadow: 0 0 0 var(--xs) rgba(151, 51, 51, 0.5);
}

.submit:active {
  background-color: rgba(234, 224, 224, 0.7);
}

.nomargin {
  margin: 0;
  padding: 0;
}

.quit {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 180px;
  height: 50px;
  right: 10px;
  top: 120px;

  background: rgba(255, 255, 255, 0.7);
  border: 4px solid #ff6f6f;
  border-radius: 15px;

  padding: 1px 8px;

  margin-top: -110px;
}

.score {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 250px;
  height: 50px;
  left: 40px;
  bottom: 26px;

  background: rgba(255, 255, 255, 0.7);
  border: 4px solid #ff6f6f;
  border-radius: 15px;

  padding: 6px 15px;

  margin-top: -110px;

  font-size: 24px;
}

.heartContainer {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 235px;
  height: 50px;
  right: 40px;
  bottom: 50px;

  background: rgba(255, 255, 255, 0.7);
  border: 4px solid #ff6f6f;
  border-radius: 15px;

  font-size: 24px;
  padding: 6px 15px;
}

.heart1 {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 250px;
  height: 50px;
  right: 40px;
  bottom: 50px;

  border: 4px solid #ff6f6f00;
  border-radius: 15px;

  background-repeat: no-repeat;

  background-image: url("../../../../images/heart.png");
  background-size: 17%;
  background-position-x: 104px;
}

.heart2 {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 250px;
  height: 50px;
  right: 40px;
  bottom: 50px;

  border: 4px solid #ff6f6f00;
  border-radius: 15px;

  background-repeat: no-repeat;

  background-image: url("../../../../images/heart.png");
  background-size: 17%;
  background-position-x: 147px;
}

.heart3 {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 250px;
  height: 50px;
  right: 40px;
  bottom: 50px;

  border: 4px solid #ff6f6f00;
  border-radius: 15px;

  background-repeat: no-repeat;

  background-image: url("../../../../images/heart.png");
  background-size: 17%;
  background-position-x: 190px;
}

.wordlength {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 250px;
  height: 50px;
  left: 40px;
  bottom: 105px;

  background: rgba(255, 255, 255, 0.7);
  border: 4px solid #ff6f6f;
  border-radius: 15px;

  padding: 6px 15px;

  margin-top: -110px;

  font-size: 24px;
}

.invalidWord {
  position: fixed;
  bottom: 105px;
  left: 600px;

  font-size: 24px;
  color: #ff6f6f;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 5px;
}

.wordContainer {
  display: flex;
  justify-content: center;
}

.initialApple {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 526px;
  left: 528px;
  bottom: 50px;

  border: 4px solid #ff6f6f00;
  border-radius: 15px;

  background-repeat: no-repeat;

  background-image: url("../../../../images/apple.png");
  background-size: 60%;
  background-position-x: 100px;
}

.bigram {
  position: absolute;
  font-size: 36px;
  font-weight: 600;
  width: 100px;
  height: 50px;
  text-align: center;
}

.initialInstruction {
  position: absolute;
  font-size: 30px;
  font-weight: 600;

  top: 90px;
  left: 570px;
  color: #ff6f6f;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 5px;
}

.apple {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 200px;

  border: 4px solid #ff6f6f00;
  border-radius: 15px;

  background-repeat: no-repeat;

  background-image: url("../../../../images/apple.png");
  background-size: 60%;
  background-position-x: 100px;
}

.orange {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 200px;

  border: 4px solid #ff6f6f00;
  border-radius: 15px;

  background-repeat: no-repeat;

  background-image: url("../../../../images/orange.png");
  background-size: 60%;
  background-position-x: 100px;
}

.peach {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 200px;

  border: 4px solid #ff6f6f00;
  border-radius: 15px;

  background-repeat: no-repeat;

  background-image: url("../../../../images/peach.png");
  background-size: 60%;
  background-position-x: 100px;
}

.timer {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  box-sizing: border-box;

  position: fixed;
  width: 200px;
  height: 200px;
  left: 10px;
  top: -90px;

  background: rgba(255, 255, 255, 0.7);
  border: 10px solid #ff6f6f;
  border-radius: 100px;

  padding: 18px 10px;

  font-size: 120px;
  text-align: center;
  color: #ff6f6f;
}

noScroll {
  overflow-y: hidden;
}
